@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
.Tprincipal{
  display: flex;
  justify-content: center;
  padding-top: 1.25em;
  padding-bottom: 1.25em;  
  text-decoration: underline;
}
.dice1{
width: 100%;
padding-bottom:1em;
}
h3{
  padding-top: 0.75em;
  padding-bottom: 0.75em; 
  text-decoration: underline dotted;
}
li{
  padding-bottom: 0.5em;
}
.teamsign{
  font-style: italic;
}

.nav-link{
  border-right: 2px solid black !important;
  border-left: 2px solid black !important;
  margin-right: 2em;
  margin-left: 2em;
  

}
.navbar-nav{
  display: flex;
  justify-content: space-around;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
 
}
a{
  text-decoration: none;
  color: rgb(29, 127, 90);
}
:hover.nav-link{
  color: rgb(246, 7, 99)!important; 
}
img {

      max-height : 400px;
      width : auto;
      object-fit: cover;
      
  }
------>

#Game{

  background: radial-gradient(ellipse at top, #e66465, transparent),
              radial-gradient(ellipse at bottom, #4d9f0c, transparent );
  

}
.firstplayer{
  background-color: rgb(255, 255, 255);
  width: 50%;
}
.secondplayer{
  background-color: white;
  width: 50%;

}
.GameDice{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: green;
  border-style:groove;
 }
.player{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  text-transform: uppercase;
}
.score{
  font-size: 5em;
  color: #f26e6e;
  padding-bottom: 1em;
}
.current {
  margin-left: auto;
  margin-right: auto;
}

.BtnbackG{
  background-color: #e66465;
  padding-inline: 2em;
  padding-top: 0.50em;
  
}

.current-label {
color: black;
font-weight:normal;
}
.current-score{
font-size: 3em;
color: white;
display: flex;
flex-direction: column;
align-items: center;
}
.name{
  font-weight: lighter;
  padding-top: 2em;
}

.btn{
  left: 50%;
  transform: translateX(-50%);
  position:absolute;
  width: 11em;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 50rem;
}
.btn:active {
transform: translate(-50%, 1px);
box-shadow: 0 1rem 2rem #069d75;
}
.btn--new,.btn--roll,.btn--hold{
  text-transform: uppercase;
  font-size: 7em;
  font:lighter;
}

.player--active {
background-color:#2b6621;
}
.player--active .name {
font-weight: 850;
color:rgb(0, 0, 0);
}
.player--active .score {
font-weight: 650;
color:rgb(166, 73, 73);
}
.player--active .current-label {
color:rgb(7, 7, 7);
}
.player--active .current {
opacity: 2;
}

.buttonimg{
  width: 15%;
}

.music{
  margin: -5%;
}

.booton{
  display: flex;
  flex-direction: column;
  transform: translateY(-50%) !important;
  position: relative;
}

.NG{
top: -28rem;
font-size: 7em;
font:lighter;
  }
.RL{
  top: -8rem;
  font-size: 7em;
  font:lighter;
  }

.HLD{
  top: -3rem;
  font-size: 7em;
  font:lighter;
  }

.dicelogo{
    top: -21rem;
    background-color: whitesmoke;
  }

.dice{
  width: 50% !important;
  position: static;
}

  

