.Welcome{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;  
}

main{
text-align: justify;
font-weight: lighter;
}
.dice1{
  width: 100%;
  padding-bottom:1em;
}