.Tprincipal{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;  
    text-decoration: underline;
}

main{
text-align: justify;
font-weight: lighter;
}
.dice1{
  width: 100%;
  padding-bottom:1em;
}
h3{
    padding-top: 0.75em;
    padding-bottom: 0.75em; 
    text-decoration: underline dotted;
}
li{
    padding-bottom: 0.5em;
}