.Tprincipal{
    display: flex;
    justify-content: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;  
    text-decoration: underline;
}

main{
text-align: justify;
font-weight: lighter;
}
.dice1{
  width: 100%;
  padding-bottom:1em;
}
h3{
    padding-top: 0.75em;
    padding-bottom: 0.75em; 
    text-decoration: underline dotted;
}
li{
    padding-bottom: 0.5em;
}
.teamsign{
    font-style: italic;
}

.nav-link{
    border-right: 2px solid black !important;
    border-left: 2px solid black !important;
    margin-right: 2em;
    margin-left: 2em;
    

}
.navbar-nav{
    display: flex;
    justify-content: space-around;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
   
}
a{
    text-decoration: none;
    color: rgb(29, 127, 90);
}
:hover.nav-link{
    color: rgb(246, 7, 99)!important; 
}
img {

        max-height : 400px;
        width : auto;
        object-fit: cover;
        
    }

aside{
    max-height: 100%;
}
#Game{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 1000px;
    background: radial-gradient(ellipse at top, #e66465, transparent),
                radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}